@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
--hulu-text-green: #00ED82;
--hulu-bg-gray: #151516;
--hulu-footer-bg-gray: #f5f6f7;;
--hulu-pill-bg-gray: #67728A;;
--hulu-pill-table-border-gray: #ededf5;;
--hulu-table-bg-color: #fcfcfc;
}

body {
    font-family: 'Spline Sans', sans-serif;
    word-spacing: 2px;
    line-height: 200%;
}

a {
    text-decoration: none;
}

a:hover { 
    text-decoration:none; 
    cursor:pointer;  
}

#hero {
    width: 100%;
    height: 98vh;
    background: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
}

#hero-main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}    

#log-in-btn-container {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

#log-in-btn {
    font-size: 1rem;
    font-weight: bold;
    margin: 2em 2em 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#log-in-btn:hover {
    color: var(--hulu-pill-bg-gray);
}

.small-green-heading{
    color: var(--hulu-text-green);
    font-size: 0.9rem;
}

#hero-logo-img {
    width: 40%;
    height: auto;
}

#hero-text{
    font-weight: bolder;
    text-align: center;
}

.section-text{
    color: #fff;
    font-size: 1.3rem;
}

#bundle-select-btn {
    background: #fff;
    border-radius: 2.5px;
    font-weight: bold;
    padding: 1.2em 2em;
}

.small-hero-text {
    color: #fff;
    font-size: 0.6rem;
}

.small-hero-text-a {
    color: #fff;
    border-bottom: 1px solid rgba(252,252,252,0.6);
}

#trial-section {
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    column-gap: 2em;
}

#trial-section-heading{
    margin-bottom: 1em;
}
#trial-section-text{
    color: #fff;
    font-size: 1.4rem;
}

#trial-sction-btn {
    font-size: 1rem;
    font-weight: bold;
    border: #fff solid 2px;
    border-radius: 4px; 
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    padding: 1em 2em;
}

#tv-shows {
    width: 100%;
    height: 120vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2em;
}

.section-heading {
    color: #fff;
    font-size: 4.25rem;
}

#tv-shows-container{
    display: flex;
    column-gap: 2em;
}

.tv-show {
    width: 18vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff;
}

.tv-show-text {
    margin: 0.75em 0.75em 0 0.75em;
}

.tv-show-heading{
    font-size: 1.6rem;
    margin-left: 0.45em;
}

#bob {
    background: url(images/tv-shows/bobs-bg.jpg);
    background-size: cover;
    background-position: center;
}

#us {
    background: url(images/tv-shows/us-bg.jpg);
    background-size: cover;
    background-position: center;
}

#npstrangers {
    background: url(images/tv-shows/npstrangers-bg.jpg);
    background-size: cover;
    background-position: center;
}

#billions {
    background: url(images/tv-shows/billions-bg.jpg);
    background-size: cover;
    background-position: center;
}

#info {
    width: 100%;
    height: 97vh;
    background: var(--hulu-bg-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2em;
}

.underline {
    text-decoration: underline;
}

#channels {
    width: 100%;
    height: 100vh;
    background: url(images/channels/basketball-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#channels-contents{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 3em;
    position: absolute;
    top: 160px;
    left: 250px;
}

.channel-btn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgba(255,255,255,0.4);
    font-weight: bolder;
    padding-bottom: 1.5em;
    cursor: pointer;
}

.channel-btn:hover{
    color: rgba(214, 212, 212, 0.4);
}

.active-btn{
    color: #fff;
    border-bottom: #fff solid 5px;
}

#channel-icons-container{
display: flex;
column-gap: 2em;
}

.icon-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    width: 90%;
    height: auto;
}


#plan-selection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.75em;
}

#plan-selection table, th, td {
    border-top: 0.75px solid var(--hulu-pill-table-border-gray);
    border-bottom: 0.75px solid var(--hulu-pill-table-border-gray);
    border-collapse: collapse;
    padding: 1.25em;
}

#plan-selection-table-heading-logo{
    width: 50%;
    height: auto;
    text-align: left;
}

#plan-selection-heading {
    color: #000;
    margin-top: 1.5em;
}

#plan-selection-text{
    color: #000;
    text-align: center;
}

.bold{
    color: #000;
    font-weight:bolder;
    font-size: 1.75rem;
}

.plan-selection-table{
    width: 80%;
}

#plan-selection-table-heading{
font-size: 1.75rem;
}

#plan-selection-table-text{
    font-size: 0.85rem;
    font-weight: normal;
}

.below-table-heading{
    font-size: 1.75rem;
}

.below-table-text {
    font-size: 1rem;
    font-weight: normal;
}

.left-align{
    text-align: left;
}

.center-align{
    text-align: center;
}

.table-head-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5m;
}

.table-img{
    width: 10%;
    height: auto;
}

.table-button {
    border: none;
    background: #000;
    color: #fff;
    font-weight: bolder;
    padding: 1.2em;
    border-radius: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.table-button:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.699);
}

.table-h4{
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0.4em;
    margin-top: 0.1em;
}

.table-h3 {
    color: #afafb1;
    font-size: 0.95rem;
}

.pill{
    background: var(--hulu-pill-bg-gray);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.2em;
    width: 70%;
    height: auto;
    margin: auto;
}

#sticky-table-row{
    position: sticky;
    top: 0px;
    background: #fff;
}

.no-border{
    border: none;
}

.hidden{
    color: #fff;
}

.highlighted-column{
    background: var(--hulu-table-bg-color);
}

.table-small-text{
    color: #000;
}

.below-table-text{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table-top-text{
margin-bottom: 2em;
}

.table-bottom-text{
margin-top: 2em;
}

.below-table-heading {
    margin-bottom: 1rem;
}

.borderless td{
    border: none;
    padding: 0;
}

.borderless .table-small-text{
    margin: 1em 0;
    padding: 0 1.5rem;

}

.borderless h3{
 font-size: 1.9rem;
 margin: 1.2em 0 0.75em;   
 padding: 0 1.5rem;
}

.borderless p{
    padding: 0 1.5rem;
}

#footer {
    width: 100%;
    min-height: 60vh;
    background: var(--hulu-footer-bg-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer-1 {
    display: flex;
    column-gap: 5em;
    padding-bottom: 2em;
    border-bottom: #cececf solid 1px;
    margin: 1em;
}

.layer-2{
    margin: 1em;
    margin-top: 2em;
    color: #656B7B;
}
.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-heading{
    font-size: 0.75rem;
}

.footer-link {
    color: #656B7B;
    font-size: 0.95rem;
}

.social-icon{
    width: 1.5%;
    height: auto;
}

.socials-icon-group{
    display: flex;
    justify-content: center;
    margin-left: 11em;
    column-gap: 1em;
}

.misc-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    margin-top: 2em;
}

@media screen  and (max-width: 1024px) {
    #channels-contents{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: static;
    }

    .plan-selection-table{
        width: 100%;
    }
    #trial-section{
        display: none;
    }
}

@media screen  and (max-width: 840px) {
    #tv-shows{
        height: auto;
    }

    #tv-shows-container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 1.5em;
    }

    .tv-show {
        width: 35vw;
        height: 75vh;
    }

    .table-img{
        
    }

    .social-icon{
        width: 5%;
    }

    .layer-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .misc-links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .info-heading{
        font-size: 1.75rem;
    }
}
