@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Unica One', cursive;
}

#scoreboard{
    color: #fff;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#game-area {
    display: flex;
    justify-content: center;
}

#road {
    background: #000;
    width: 30vw;
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.road-line {
    width: 10px;
    height: 100px;
    background: #fff;
    margin: 1em 0;
    position: absolute;

}

.car {
    width: 15%;
    height: 100px;
}


#player-car{
    position: absolute;
    background: #fff;
    top: 250px;
    left: 165px;
}

.npc-car {

}

.npc-car-red {
    background: red;
}

.npc-car-green {
    background: green;
}

.npc-car-blue {
    background: blue;
}