@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --primary: #e4dfd8;
    --secondary:  #ee8e40;
    --over-lay-secondary:  #f0ac74;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-y: scroll;
}

nav{
    height: 4rem;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5rem;
}

nav > img{
    width: 2rem;
    height: auto;
}

nav > p {
    font-size: 1.75rem;
    letter-spacing: 5px;
}

nav p span{
    color: var(--secondary);
}

#cart{
    position: relative;
    cursor: pointer;
}

.cart-wrapper{
    background: var(--secondary);
    padding: 0.05em 0.4em;
    border-radius: 5px;
    position: absolute;
    top: -8px;
    left: 15px;
}

#cart img{
    width: 1.75rem;
    height: auto;
}

#productContainer{
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    column-gap: 0.25rem;
    row-gap: 2rem;
    justify-content: space-evenly;
    margin-inline: 4rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

.label{
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
    color: #fff;
    transform: translatex(70%);
    transition: all 500ms;
}

.label svg{
    fill: #fff;
    transition: all 750ms;
}


.product:hover > .label
{
    transform: translatex(0);
    color: black;    
    display: flex;
    background: var(--secondary);
    padding: 0 0.25rem;
    border-radius: 5px;
}

.product:hover svg{
    fill: black;
}

.product:hover > .label:hover{
    color: white;
}

.product:hover > .label:hover > svg{
    fill: white;
}


.img-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
    object-position: center;
}

.over-lay{
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 168, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: absolute;
}


.cart-container{
    width: 30%;
    height: 100%;
    background: #e7e7e7;
    padding: 1rem;
    overflow-y: scroll;
}

.cart-container button:first-child{
    color: #fff;
    background: black;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: bolder;
}

.cart-container h2{
    text-align: center;
}

.clear-btn{
    color: white;
    background: var(--secondary);
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 25.px;
    font-weight: bold;
}

.cart-item{
    display: flex;
}

.cart-item img{
    width: 20%;
}

.cart-item-info{
    width: 60%;
}

.cart-item-count{
    width: 20%;
}

.cart-item-count p{
    font-weight: bold;
    font-size: 1.5rem;
    text-align:right;
}

.btn-grp{
    text-align:right;
}

.btn-grp img{
    cursor: pointer;
}

.hide{
    display: none;
}

.sec-color{
color: var(--secondary);
}

.bold {
font-weight: bolder;
}

.center{
    text-align: center;
}

.mb-05{
    margin-bottom: 0.5rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-1{
    margin-bottom: 1rem;
}