@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oxygen', sans-serif;
    overflow-y: hidden;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    
}

.all-notes-container{
    width: 20%;
    max-height: 95vh;
    margin: 1rem 0;
    overflow-y: auto;
}

.all-notes-container-narrow{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-inline: auto;
}

.all-notes-container button{
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 0;
    background: #008579;
    border: #10cabb solid 1px;
    border-radius: 5px;
    color: white;
}

.note-display-container{
    max-height: 94vh;
    width: 80%;
    overflow-y: auto;
    margin: 2rem 2rem 1rem 2rem;
    border-left: #dbdbdbf3 solid 3px;
    padding-left:2rem;
    padding-right:2rem;
}

.note-display-container input[type='text']{
    font-size: 2rem;
    border: none;
    border-bottom: #ecececf3 solid 1px;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.note-display-container input[type='text']:focus{
    outline: none;
}

.note-display-container textarea{
    width: 100%;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    overflow-y: hidden;
    resize: none;
    border: none;
}

.note-display-container textarea:focus{
    border: none;
    outline: none;
}

.note{
    width: 100%;
    height: auto;
    margin-inline: auto;
    border-radius: 5px;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
}

.note h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.note-text{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.45rem;
}

.note-date{
    font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    color: #b6b5b5;
    text-align: end;
    margin-bottom: 0.45rem;
    
}

.note-gray-background{
    background: #f8f7f7;
}