@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --primary: #fff;
    --secondary:  #f8f6f8;
    --border-bottom:  #ececec;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(160deg, #0093E9, #80D0C7);
    padding: 4rem;
}

.col-1{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book-window{
    height: 30rem;
    width: 35rem;
}

#book-title{
    font-size: 1.5rem;
}

.info-heading{
    height: 10%;
    padding: 0.5rem 1rem;
    background: var(--secondary);
    border-bottom: var(--border-bottom) solid 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #000;
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 0.75rem;
    border-top: var(--border-bottom) solid 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#book-content{
    height: 80%;
    background: var(--primary);
    padding: 1rem 2rem;
    overflow-y: scroll;
}