@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --primary: #e4dfd8;
    --secondary:  #ee8e40;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
}

.col-1{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#book-window{

}