@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    --pink-button-underline-color: #F72475;
    --purpish-section-text-color: #815EFF;
}

body{
    font-family: 'Oswald', sans-serif;
}

a{
   text-decoration: none;
   color: #fff; 
   font-weight: bold;
}

#banner{
    width: 100%;
    height: 100vh;
    background: url(images/tetn-bg.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(20%);
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#logo{
    color: #fff;
    font-size: 2rem;
    margin-left: 0.5em;
}

#nav-menue{
    display: flex;
    column-gap: 2em;
    list-style: none;
    color: #fff;
    margin-right: 1em;
}

#nav-menue > :first-child{
    color: var(--pink-button-underline-color);
}

.button{
    background: var(--pink-button-underline-color);
    border-radius: 15px;
    padding: 0.15em 0.75em 0.25em 0.75em;
}

.button:hover{
    background: #fff;
    color: var(--pink-button-underline-color);
}


#header-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

#header-heading{
    color: #fff;
    font-size: 1.5rem;
}

#header-text{
    color: #fff;
    font-size: 3.5rem;
}

.underline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline::after{
    content: " ";
    display: block;
    height: 5px;
    width: 4em;
    background: var(--pink-button-underline-color);
    border-radius: 5px;
}

#s1{
    width: 100%;
    height: 110vh;
    text-align: center;
}

#s1-heading{
    font-size: 2.5rem;
    color: var(--purpish-section-text-color);
    margin-top: 0.25em;
}

#s2-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
}

.img-container{
    height: 70%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.s2-img{
    width: 100%;
    min-height: 70%;
    object-fit: cover;
    object-position: center;
}

.img-container-heading{
    color: var(--purpish-section-text-color);
}

.img-container-text{
    text-align: left;
    border-bottom: 0.75em;
}

.img-btn{
    border-bottom: 0.75em;
}

#s2{
    width: 100%;
    height: 100vh;
    background: url(images/s2-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

#s2-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    margin-left: 4em;
}

#h2-heading{
    font-size: 3rem;
}

#s3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

#s3-content{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#s3-heading{
    font-size: 2rem;
    color: var(--purpish-section-text-color);
    margin-bottom: 0.75em;
}

#s3-text{
    margin-bottom: 1.5em;
}


#s3-img-container{
    width: 50%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 0.1em;
    row-gap: 0.1em;
}

.s3-img{
    width: 24vw;
    height: 43.5vh;
    object-fit: cover;
    object-position: center;
}

#footer{
    width: 100%;
    height: 15vh;
    background: var(--purpish-section-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.hide{
    display: none;
}

.show{
    display: block;
}

#hamburger{
    width: 1.25rem;
    width: 1.25rem;
}

#hamburger-window{
    width: 100%;
    height: 90vh;
    background: white;
    z-index: 5;
}


@media screen and (max-width: 720px) {
    #s1{
        height: auto;
    }
    
    #s1-heading{
        margin-bottom: 0.75em;
    }
    
    #s2-img-container{
        height: auto;
        flex-direction: column;
        row-gap: 3em;
    }
    
    .img-container{
        height: 50%;
        width: 100%;
    }
    
    .s2-img{
        min-height: 50%;
    }
    
    .img-container-heading{
        font-size: 2rem;
    }
    
    .img-container-text{
        text-align: center;
    }

    #s2{
        justify-content: center;
    }
    
    #s2-content-container{
        text-align: center;
        margin: 0 0.25em;
    }
    
    #s3{
        height: auto;
        flex-direction: column;
        row-gap: 2em;
    }
    
    #s3-content{
        width: 100%;
        height: 40vh;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    
    #s3-heading{
        font-size: 1.8rem;
    }
    
    #s3-text{
        text-align: center;
    }
    
    
    #s3-img-container{
        width: 100%;
        margin-bottom: 2.5em;
    }
    
    .s3-img{
        width: 50vw;
        height: 40vh;
    }

    #footer{
        height: auto;
    }
}

@media screen and (max-width: 530px){
    .nav-item{
        display: none;
    }
    #hamburger{
        display: block;
    }

    #header-heading{
        font-size: 1rem;
    }

    #header-text{
        font-size: 2rem;
    }

    
#s1-heading{
    font-size: 1.75rem;
    margin-top: 0.12em;
}

#h2-heading{
    font-size: 1.75rem;
}

#s3-heading{
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

.img-container-heading{
    font-size: 1.5rem;
}

#banner{
    height: 70vh;
}
#s2{
    height: 70vh;
}

#s3-img-container{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 0.25em;
}
.s3-img{
    width: 100vw;
}
}
